	<header id="header">
		<h1 class="title">{{@blog.title}}</h1>
		<p class="description">{{@blog.description}}</p>
		{{navigation}}
		{{> follow}}
		<div class="footer">
			<p class="small-print">&copy; {{date format='YYYY'}} Gaël Foppolo. All rights reserved.<br/>
			<a href="/legal">Legal</a>, <a href="/privacy">Privacy</a> and <a href="/cookies">Cookies</a></p>
		</div>
	</header>