<nav class="pagination" role="pagination">
    <span class="newer-posts">{{#if prev}}<a href="{{page_url prev}}">&larr; Newer</a>{{/if}}</span>
    <span class="older-posts">{{#if next}}<a href="{{page_url next}}">Older &rarr;</a>{{/if}}</span>
</nav>
