{{!< default}}
<div id="postList">
    {{#get "posts" limit="all"}}
        {{#foreach posts}}
            <span>
                {{date published_at format="DD/MM/YYYY"}} <span class="separator"> &middot; </span>  
                <a href="{{url}}">{{title}}</a>
            </span>
            <br>
        {{/foreach}}
    {{/get}}
</div>