/* Variables
/* ---------------------------------------------------------- */

:root {
    /* Colours */
    --darkgrey: #282822;
    --grey: #808080;
    --lightgrey: #cccc;
    --whitegrey: #e5eff5;
    --blue: #3eb0ef;
    --green: #a4d037;
    --purple: #ad26b4;
    --yellow: #fecd35;
    --red: #f05230;
    --pink: #fa3a57;
    --brown: #a3821a;

    --headerWidth: 18em;
    --paddingContent: 6em;
}

/* Reset
/* ---------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
img, iframe {
    max-width: 100%;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
b,
strong {
    font-weight: bold;
}
i,
em,
dfn {
    font-style: italic;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
mark {
    background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace !important;
    font-size: 1em;
    white-space: -moz-pre-wrap !important;
    white-space: pre-wrap !important;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0; /* 3 */
    color: inherit; /* 1 */
    font: inherit; /* 2 */
}
button {
    overflow: visible;
    border: none;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 3 */

    -webkit-appearance: button; /* 2 */
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input:focus {
    outline: none;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    box-sizing: content-box; /* 2 */

    -webkit-appearance: textfield; /* 1 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
legend {
    padding: 0; /* 2 */
    border: 0; /* 1 */
}
textarea {
    overflow: auto;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
     overflow-x: hidden;
    font-size: 1em;
    font-family: -apple-system, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    line-height: 1.5em;
    letter-spacing: 0;
    background: white;
}

body {
    min-height: 100vh;
    padding-left: var(--headerWidth);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

main {
    padding-left : var(--paddingContent);
    padding-right: var(--paddingContent);
    padding-top: calc(var(--paddingContent) * 0.25);
    padding-bottom : calc(var(--paddingContent) * 0.25);
}

::selection {
    background: var(--lightgrey) !important;
}

::-moz-selection {
    background: var(--lightgrey) !important;
}

hr {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    padding: 0;
    height: 1px;
    border: 0;
    color: var(--darkgrey);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--headerWidth);
}

footer {
    padding-left:  var(--paddingContent);
    padding-right: var(--paddingContent);
}

audio,
canvas,
iframe,
img,
svg,
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    max-width: 100%;
    max-height: 80vh;
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

p,
ul,
ol,
dl,
blockquote {
    margin: 0 0 1.5em 0;
}

ol,
ul {
    padding-left: 1.3em;
    padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul,
ol {
    max-width: 100%;
    margin-left: 2em; 
}

li > p {
    margin: 0.5em 0;
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    color: var(--darkgrey);
    font-weight: 500;
    text-align: right;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}

blockquote {
    margin: 1.5em 0;
    border-left: var(--grey) 0.25em solid;
    padding-left: 1.2em;
    color: var(--grey);
}

blockquote p {
    margin: 0.8em 0;
    font-size: 1.2em;
    font-weight: 300;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
    content: "\2014 \00A0";
}

blockquote cite {
    font-weight: bold;
}
blockquote cite a {
    font-weight: normal;
}

a {
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.25em;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: 600;
}

h1 {
    margin-top: 2rem;
    font-size: 2rem;
}
h2 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}
h3 {
    margin-top: 1.25rem;
    font-size: 1.25rem;
}

h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem;
}

p {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
}

code {
    font-size: 0.8em;
    color: var(--pink);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    line-height: 2em;
    background: #f9f9f9 !important;
    padding: 1em;
    white-space: -moz-pre-wrap !important;
    white-space: pre-wrap !important;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 0.5em;
}

input {
    font-size: 1em;
    padding: 0.3em;
}